version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      solidity-security:
        applies-to: security-updates
        patterns:
          - "*"
    ignore:
      - dependency-name: "@nomicfoundation/hardhat-toolbox"
